{%extends '::base.html.twig' %}

 {% block contenu %}
		<div style="text-align: justify;" class="post">
			<h3>Mentions légales</h3>

			<p>L'association ISMA (SAS au capital social de 100000 euros dont le siège social est sis 16 Place Saint-Cyran, 36000 Châteauroux,
			est l'éditeur du site www.amapplanet.fr, dont les internautes sont les rédacteurs des contributions.</p>
			<p>Pour nous contacter : +33(0)123456789.</p>
			<p>Le présent site a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés, 
			qui a délivré le récépissé n° 1234567 du 25 Mars 2016.</p>
			<p>Pour toutes questions, veuillez consulter les conditions d'utilisation du site. 
			Pour toutes réclamations au titre d'un contenu figurant sur le site de l'association Isma et alléguant au 
			titre de ce contenu une atteinte à l'ordre public ou aux droits de tiers, il est obligatoire de s'adresser à amapplanet@gmail.com.</p>
			<p>Toutes réclamations adressées par un autre canal ne seront pas nécessairement prises en compte.</p>
		</div>

		<div style="text-align: justify;" class="post">

			<h3>Mentions relatives aux marques</h3>

			<p>Copyright © 2008-2016 Isma - Tous droits réservés. Amapplanet' est une marque déposée de ISMA.
			Les noms des éditeurs, des médias, des services et plus généralement des sociétés ou produits mentionnés sont les marques 
			de leurs propriétaires respectifs. Tous les droits qui ne sont pas expressément concédés sont réservés par Isma.</p>
		</div>

		<div style="text-align: justify;" class="post">

			<h3>Règles spécifiques à l’utilisation de cookies</h3>

			<p>AmapMlanet' a recours à des traceurs, communément appelés cookies, pour collecter certaines données. Ces traceurs permettent à amapplanet'
			d’accéder, par voie de transmission électronique, à des informations déjà stockées dans l'équipement terminal (ordinateur, smartphone…) 
			de l’internaute ou à inscrire des informations dans cet équipement.<br><br>
			Ces données sont exclusivement utilisées aux fins de permettre et d’assurer :<br>
			- la facilitation de la navigation de l’internaute, en permettant notamment à tout internaute inscrit de rester connecté 
			sur son compte sans avoir à saisir à nouveau ses identifiants de connexion ;<br>
			- la personnalisation de la navigation de l’internaute, en lui permettant notamment de bénéficier d’offres publicitaires 
			adaptées à ses préférences telles qu’elles ressortent de son comportement sur Internet ;<br>
			- le respect par amapplanet des exigences légales.<br><br>
			Si vous souhaitez refuser l’utilisation des traceurs autres que ceux liés aux exigences légales ou si, 
			après avoir donné votre consentement à l’utilisation de traceurs en continuant de naviguer sur le site,
			vous souhaitez vous rétracter en tout ou partie, vous pouvez changer les paramètres de votre navigateur. 
			Vous trouverez également des informations spécifiques sur le site :<br>
			http://www.youronlinechoices.com/fr/<br></p>
		</div>

		<div style="text-align: justify;" class="post">

			<h3>Conditions d'utilisation</h3>

			<p>L'utilisation des soumissions à partir du serveur amapplanet.fr ou des flux RSS émis par amapplanet.fr est autorisée, 
			à condition qu'aucune modification ne soit apportée et que l'utilisation de ces articles se fasse à des fins personnelles ou d'information 
			et non à des fins commerciales.<br><br>
			L'utilisation des soumissions à toute autre fin est strictement prohibée par la loi. Toute personne ne respectant pas les dispositions 
			légales applicables se rend coupable du délit de contrefaçon et est passible des sanctions pénales prévues par la loi. 
			Les informations désignées ci-dessus n'incluent pas la conception ou la mise en page du site Internet amapplanet.fr ou de tout autre site géré, 
			contrôlé ou appartenant à Isma. Les éléments des sites Internet Isma sont protégés par le droit des dessins et modèles, le droit d'auteur, 
			le droit des marques ainsi que par la réglementation applicable à la concurrence déloyale et ils ne peuvent être copiés ou imités en tout ou partie. 
			Sauf autorisation expresse de Isma, aucun logo, élément graphique, son ou image provenant d'un site Web Isma ne peut être copié ou diffusé. 
			Isma n'effectue aucune déclaration sur le caractère approprié à un usage particulier des informations contenues dans les soumissions publiées 
			sur ce service et dans les éléments graphiques publiés du serveur. Tous les articles et éléments graphiques sont fournis "En l'état" sans garantie
			d'aucune sorte. Isma exclut toute garantie implicite relative aux informations susmentionnées, notamment toute garantie implicite de qualité, 
			d'adéquation à un usage particulier, de propriété et d'absence de contrefaçon. Isma ne sera en aucun cas responsable, quel que soit le fondement 
			de l'action en responsabilité invoqué, des dommages directs ou indirects, accessoires ou incidents (ni de tout dommage qui résulte d'une mauvaise
			interprétation d'un article, d'une désinformation ou d'une diffamation) résultant de, ou liés à l'utilisation ou à la mise en page des informations 
			rediffusées par ce service. Les soumissions rediffusées et les éléments graphiques publiés sur le serveur amapplanet.fr sont susceptibles de 
			contenir des inexactitudes ou des erreurs typographiques. Des changements sont périodiquement apportés aux sources d'information référencées 
			par le moteur de recherche. Enfin, Isma peut apporter, à tout moment, des améliorations ou des modifications aux services offerts par ce site 
			Web. Vous ne pouvez utiliser le site Web amapplanet.fr qu'à des fins personnelles, c'est à dire à des fins non commerciales et aucunement 
			de manière illégale ou de façon à nuire à Isma, aux utilisateurs "contributeurs" qui postent des commentaires ou des soumissions. Sans limiter 
			le caractère général du présent article, vous ne pouvez pas utiliser le site Web amapplanet.fr d'une manière susceptible d'endommager, 
			de mettre hors d'action, d'accabler ou de compromettre Isma. En ce qui concerne les commentaires ou les soumissions publiées par un membre, 
			le contributeur accorde à Isma l'autorisation d'utiliser, copier, distribuer, transmettre, afficher publiquement, présenter publiquement, 
			reproduire, éditer, modifier, traduire et reformater sa contribution dans le cadre du site Web amapplanet.fr ou de ses partenaires français 
			et étrangers, et des exploitations secondaires et dérivées du site amapplanet.fr en toutes versions, par tous modes, procédés et sur tous 
			supports connus ou inconnus à ce jour, dans le monde entier, sans limitation de durée, et de sous-concéder ces droits, dans toute la mesure 
			permise par la réglementation applicable. Enfin, Isma se réserve le droit de modifier les termes, conditions et mentions d'avertissement 
			applicables à ses sites Web. Il vous incombe de consulter régulièrement ces termes et conditions d'utilisation. Votre utilisation renouvelée
			du site Web amapplanet.fr, après la date effective de telles ou telles modifications, constitue l'acceptation de votre part de toutes ces 
			modifications.</p>
		</div>


			
	

 {% endblock %}
 
 

