{%extends '::base.html.twig' %}
{% block contenu %}
    <div class="container">
	
		<h1>Produits</h1>
		<section>
			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prix</th>
						<th>Description</th>
					</tr>
				</thead>	
				<tbody>
					{% for product in products %}
						<tr>
							<td> {{ product.getName }}</td>
							<td> {{ product.getPrice }}</td>
							<td> {{ product.getDescription }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>
{% endblock %}

